<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.liucanwen.citylist"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application>
        <activity
            android:name="com.liucanwen.citylist.CityListActivity"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="com.ruiec.city" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ChooseActivity"
            android:launchMode="singleTop"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
    </application>

</manifest>